<nav class="nav">
	<ul>
		<li {{#is basename 'index'}} class="active" {{/is}}><a href="index.html">Products</a>
            <ul>
                <li><a href=""> Sales Skills Training</a> </li>
                <li><a href="">GLeadership & Management Training</a> </li>
                <li><a href="">Employment Law Compliance Training</a></li>
                <li><a href="">Human Resources Training</a></li>
                <li><a href=""> LMS Content Catalog</a></li>
            </ul>
        </li>
        <li><a href="">Free Stuff</a></li>
        <li><a href="">Clients</a></li>
        <li><a href="">The Science</a></li>
        <li><a href="">Free Trial</a></li>
	</ul>
</nav><!-- //Navigation -->
<a href="javascript:void(0)" class="btn-rwd-sidebar"><i class="fa fa-bars"></i></a>